#ifndef IKEA_PS2014_WIFI_SECRETS_H
#define IKEA_PS2014_WIFI_SECRETS_H

#define WIFI_0_SSID "SSID_0"
#define WIFI_0_PASSPHRASE "PASSPHRASE_0"

#define WIFI_1_SSID "SSID_1"
#define WIFI_1_PASSPHRASE "PASSPHRASE_1"

#endif //IKEA_PS2014_WIFI_SECRETS_H
